[Unit]
Description=Power sources monitor

[Service]
ExecStart=/usr/local/share/power-sources-monitor/bin/power-sources-monitor
Restart=on-failure

[Install]
WantedBy=default.target
